.one {
    background-color: red;
}
.two {
    background-color: blue;
}
.three {
    background-color: green;
}
.four {
    background-color: orange;
}
.five {
    background-color: black;
}
.six {
    background-color: purple;
}